<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>邮乐活动开发</title>
	<link rel="stylesheet" href="/public/c/event.css">
</head>
<body>
<div class="event-init-box">
	<h2>初始化活动开发环境&nbsp;(&nbsp;已初始化可跳过&nbsp;)：</h2>
	<div class="box-content def">
		<form id="eventDirectorySetForm" method="post" action="/eventDirectorySet.do" enctype="multipart/form-data">
			<input id="eventDirectoryFileInput" name="eventDirectoryFileInput" type="file" accept="application/json"><br>
		</form>
		<h4 style="color: #8B2323; ">注: 需选择个人开发目录中的 uledev.json 配置文件</h4>
	</div>
	<div class="box-content success" style="display: none;">
		初始化成功！<a href="/event">重新初始化</a>
	</div>
	<div class="box-content error" style="color: #FF0000; display: none;">
		错误：上传的配置文件不符！<a href="/event">重新初始化</a>
	</div>
</div>

<div class="event-type-box">
	<h2>选择活动类型：</h2>
	<div class="box-content">
		<% for(var key in configData){ %>
		<% var item = configData[key]; %>
		<%- '<input type="radio" name="eventType"><label>' + item.description + '(' + key + ')</label><br>' %>
		<% } %>
	</div>
</div>
<div class="event-type-name">
	<h2>输入活动名称：</h2>
	<div class="box-content">
		<input type="text">
	</div>
</div>
<script src="/public/j/jquery.js"></script>
<script>
	$(function(){
		if(location.search.indexOf('?initSuccess') >= 0){
			$('.event-init-box .box-content.def').hide();
			$('.event-init-box .box-content.success').show();
		}
		if(location.search.indexOf('?initError') >= 0){
			$('.event-init-box .box-content.def').hide();
			$('.event-init-box .box-content.error').show();
		}

		$('#eventDirectoryFileInput').change(function(){
			var eventDirectorySetForm = $('#eventDirectorySetForm');
			eventDirectorySetForm.submit();
		});
	});
</script>
</body>
</html>