<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<style>
		html, body { width: 100%; height: 100%; padding: 0 20px; margin: 0; font: 14px "微软雅黑", "宋体"; }
	</style>
</head>
<body>
<h1>Welcome to <%= title %></h1>
<h4>用于构建邮乐前端个人开发环境</h4>
<a href="https://github.com/boat3471/uledev"><h4>Show Document</h4></a>
<a href="https://www.npmjs.com/package/uledev"><h4>Show npm</h4></a>
</body>
</html>
