<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<style>
		html, body { width: 100%; height: 100%; padding: 0 20px; margin: 0; font: 12px "微软雅黑", "宋体";  }
		body { overflow-x: hidden; overflow-y: scroll; }
		a {display: inline-block; height: 16px; font: bold 12px/16px "微软雅黑", "宋体"; text-decoration: none;
			padding: 6px 20px; background-color: #bebebe; margin: 10px 5px; border-radius: 3px; color: brown; }
		li { font-size: 12px; }
		code { font-family: Consolas; color: #8B2323; padding: 0 15px; }
	</style>
</head>
<body>
<h1>Welcome to <%= title %></h1>
<h4>用于构建邮乐前端个人开发环境</h4>


<h2>常用技术: </h2>
<a href="https://github.com/boat3471/uledev" target="_blank">Uledev Document</a>
<a href="https://www.npmjs.com/package/uledev" target="_blank">Uledev NPM</a>
<a href="http://json.cn/" target="_blank">JSON格式化</a>
<a href="http://www.w3school.com.cn/index.html" target="_blank">w3school</a>
<a href="http://jquery.com/" target="_blank">jQuery 官网</a>
<a href="http://api.jquery.com/" target="_blank">jQuery Api</a>
<a href="http://jquery.cuishifeng.cn/" target="_blank">jQuery Api CN</a>
<a href="https://code.jquery.com/jquery/" target="_blank">jQuery All Download</a>
<a href="http://nodejs.cn/" target="_blank">Nodejs CN</a>



<h2>邮乐内部站点: </h2>
<a href="http://gr.uletm.com/pmdm/login.jsp" target="_blank">GR</a>
<a href="http://beta.ule.com/wd/" target="_blank">前端小组</a>
<a href="http://wiki.uletm.com/dashboard.action" target="_blank">ULE Wiki</a>
<a href="http://tomauth.ule.cn/cas/login" target="_blank">运营中心</a>
<a href="http://cs.ule.com/csadmin/user_security_check.do" target="_blank">业务管理平台</a>
<a href="http://dm.uletm.com/dmv2/user!login.do" target="_blank">系统发布平台</a>
<br>
<a href="http://cms.ulecn.tom.com/opencms/system/login/TomShopping/TomShopping-WD/" target="_blank">Open CMS</a>
<a href="https://portal.chinanetcenter.com/cas/login?service=http%3A%2F%2Fmyview.chinanetcenter.com%2Fr_sec_login#0" target="_blank">旧版CDN缓存</a>
<a href="https://portal.chinanetcenter.com/cas/login?service=https%3A%2F%2Fsi.chinanetcenter.com%2Fr_sec_login" target="_blank">新版CDN缓存</a>
<a href="http://portal.baishancloud.com/account/index/login" target="_blank">白云山缓存清理</a>
<br>
<a href="http://www.dev.ule.com/event" target="_blank">创建活动</a><br>


<h2>如何创建邮乐活动？</h2>
<ol>
	<li>安装Git, 如何安装请自行查阅资料</li>
	<li>安装Node.js, 如何安装请自行查阅资料</li>
	<li>全局安装 uledev, 命令: <code>npm install -g uledev</code></li>
	<li>创建个人活动开发目录</li>
	<li>执行初始化命令: <code>uledev event init</code></li>
	<li>执行创建命令: <code>uledev event</code></li>
	<li>按照命令行提示输入指定内容</li>
	<li>示例: <br><img src="/public/i/event-demo.png" alt=""></li>
</ol>
<h2>如何配置FTP？</h2>
<h2>如何配置打印机？</h2>
<h2>如何配置U盘？</h2>
<h2>如何配置Opencms？</h2>
<h2>CDN缓存用户名：tom_mv2  密码：tom_purge123</h2>

</body>
</html>