<title>uledev <%= error.status %></title>
<!--<h1><%= message %></h1>-->
<h1>走错了吧！</h1>
<!--<h2><%= error.status %></h2>-->
<a href="//www.uledev.com/my">进入控制台</a>
<pre style="font-size:12px;font-family:Consolas;"><%= error.stack %></pre>
